.bbtn{
  background-color: #DD6031;
}

.puptext{
  color: #161032;
}

.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}

.require {
  color: #666;
}
label small {
  color: #999;
  font-weight: normal;
}




@media screen and (max-width: 768px){
  .eye{
    position: absolute;
    right: 18px !important;
  }
}

